<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiedcode.ssm.mapper.RoleMapper">
    <select id="getRoleById" parameterType="long" resultType="role">
        select id, name, note from t_role where id = #{id}
    </select>

    <insert id="insertRole" parameterType="role">
        insert into t_role (name, note) values (#{name}, #{note})
    </insert>

    <delete id="deleteRole" parameterType="long">
        delete from t_role where id = #{id}
    </delete>

    <update id="updateRole" parameterType="role">
        update t_role set name = #{name}, note = #{note} where id = #{id}
    </update>

    <select id="findRoles" parameterType="string" resultType="role">
        select id, name, note from t_role where name like concat('%', #{name}, '%')
    </select>
</mapper>